<!-- charts -->
<div class="col-12">
  <div class="row">
    <div class="main-content col-12 col-md-7 mt-3">
      <div class="row g-3">
        <!-- card 1-->
        <div class="col-12 col-md-3">
          <div class="bg-white py-3 pe-2 ps-3 rounded-2">
            <p>Total Customers</p>
            <p class="fs-1 fw-bold">70</p>
            <i
              class="bi bi-people-fill d-flex justify-content-end display-3 opacity-25 text-warning-emphasis"
            ></i>
          </div>
        </div>

        <!-- card 2 -->
        <div class="col-12 col-md-3">
          <div class="bg-white py-3 pe-5 ps-3 rounded-2">
            <p>Total sales</p>
            <p class="fs-1 fw-bold">100</p>
            <i
              class="bi bi-cart-check-fill d-flex justify-content-end display-3 opacity-25 text-warning-emphasis"
            ></i>
          </div>
        </div>
        <!-- card 3-->
        <div class="col-12 col-md-3">
          <div class="bg-white py-3 pe-3 ps-3 rounded-2">
            <p>Total Profits</p>
            <p class="fs-1 fw-bold">$316</p>
            <i
              class="bi bi-cash-coin d-flex justify-content-end display-3 opacity-25 text-warning-emphasis"
            ></i>
          </div>
        </div>
        <!-- card 4 -->
        <div class="col-12 col-md-3">
          <div class="bg-white py-3 pe-5 ps-3 rounded-2">
            <p>Out of Stock</p>
            <p class="fs-1 fw-bold">30</p>
            <i
              class="bbi bi-cart-dash-fill d-flex justify-content-end display-3 opacity-25 text-warning-emphasis"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- chart end -->
<canvas id="salesChart" width="400" height="200"></canvas>
