<!-- order table -->
<!-- <div class="container mt-4" id="orders"> -->
<h2>orders</h2>

<br />
<!-- table -->
<div class="table-responsive">
  <table class="table">
    <!-- table head -->
    <thead>
      <tr>
        <th scope="col">Medicine name</th>
        <th scope="col">Batch No</th>

        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- row1 -->
      <tr>
        <td>Aspirin</td>
        <td>B1234</td>

        <td>100</td>
        <td>$10.50</td>
        <td><p class="text-primary">Delivered</p></td>
      </tr>
      <!--  row2 -->
      <tr>
        <td>Ibuprofen</td>
        <td>C5678</td>

        <td>50</td>
        <td>$7.20</td>
        <td><p class="text-warning">pending</p></td>
      </tr>
      <!--  row3 -->
      <tr>
        <td>Paracetamol</td>
        <td>D9876</td>

        <td>200</td>
        <td>$15.80</td>
        <td><p class="text-danger">Canceled</p></td>
      </tr>
      <!--  row4 -->
      <tr>
        <td>Omeprazole</td>
        <td>E2468</td>

        <td>75</td>
        <td>$12.30</td>
        <td><p class="text-primary">Delivered</p></td>
      </tr>
      <!--  row5 -->
      <tr>
        <td>Vitamin C</td>
        <td>F1357</td>

        <td>80</td>
        <td>$9.90</td>
        <td><p class="text-warning">pending</p></td>
      </tr>
      <!--  row6 -->
      <tr>
        <td>Amoxicillin</td>
        <td>A7890</td>

        <td>80</td>
        <td>$8.70</td>
        <td><p class="text-primary">Delivered</p></td>
      </tr>
      <!--  rows end -->
    </tbody>
  </table>
</div>
<!-- order table end -->
<!-- </div> -->
<!-- pagination -->
<div>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link">
          <span aria-hidden="true">&laquo;</span> Previous</a
        >
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">
          Next <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<!-- pagination end -->
